<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="/Users/jayoung/Desktop/Dojo_Assignments/Python/Django/Intro/Rand_Gen/app_one/static/css/style.css"> -->
</head>
<body>
    <div class="container">
        <p class="title">Random Word (attempt {{ counter }})</p>
        <p class="randstr">{{ rand_str }}</p>
        <a class="btn btn-info randgenbtn" href="random_word" role="button">Generate</a>
        <a class="btn btn-outline-info btn-sm resetbtn" href="reset" role="button">Reset</a>
    </div>
</body>
</html>