* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto;
    width: 400px;
    height: 200px;
    align-content: center;
    vertical-align: middle;
}

p {
    text-align: center;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* border: solid 1px black; */
}

.title {
    height: 35px;
    margin: 35px 0px;
    border: 1px solid black;
}

/* .displaytime,
.displaydate {
    height: 70px;
    font-size: 25px;
    font-weight: 600;
}    */
/* 
.displaytime {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.displaydate {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
} */

.displaydatetime {
    height: 200px;
    font-size: 30px;
    font-weight: 600;
    border: 1px solid black;
}

