<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Result</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <p class="title">
            Submitted Info
        </p>
        <table class="table table-sm">
            <!-- <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Sample Column</th>
                <th scope="col">Sample Column</th>
                <th scope="col">Sample Column</th>
                </tr>
            </thead> -->
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ username }}</td>
                </tr>
                <tr>
                    <th scope="row">Location</th>
                    <td>{{ location }}</td>
                </tr>
                <tr>
                    <th scope="row">OS</th>
                    <td>{{ currentos }}</td>
                </tr>
                <tr>
                    <th scope="row">Favorite Language</th>
                    <td>{{ favlang|join:" , " }}</td>
                </tr>
                <tr>
                    <th scope="row">Comment</th>
                    <td>{{ opttext }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="btn btn-outline-dark" href="/" role="button">Go Back</a>
        </div>
    </div>
</body>
</html>